@font-face {
  font-family: "OpenSans Bold";
  src: url(/fonts/OpenSans-Bold.woff) format("woff");
}
@font-face {
  font-family: "OpenSans Semibold";
  src: url(/fonts/OpenSans-Semibold.woff) format("woff");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url(/fonts/OpenSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "OpenSans Light";
  src: url(/fonts/OpenSans-Light.woff) format("woff");
}
.nav-link {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
}
.header-title {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
}
.header-btn {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
}
.header-descr {
  font-size: 14px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
}
.info-text {
  font-size: 14px;
  font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
}
.cell-text {
  font-size: 14px;
  font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
}
.th-text {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}
button {
  border: none;
  outline: none;
}
a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix {
  display: table;
  content: "";
  clear: both;
}
@media all and (min-width: 700px) {
  body {
    width: 700px;
  }
}
@media all and (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
@media all and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}
.main-header {
  height: 729px;
  background: #1d2631 url(/img/header-bg.jpg) 50% 0% no-repeat;
  color: #fff;
}
.main-header .header {
  width: 320px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-header .header.paint {
  height: 65px;
  background-color: #283645;
  border-bottom: 1px solid #000;
}
.main-header .header__logo {
  display: block;
  width: 74px;
  height: 24px;
  padding: 22px 20px;
  float: left;
}
.main-header .header__logo img {
  width: 74px;
}
.main-header__title {
  margin: 16px 10px;
  line-height: 33px;
  text-align: center;
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
}
.main-header__hand {
  width: 320px;
  height: 322px;
  background: transparent url(/img/retina/iphone-hand-1.png) 50% 100% no-repeat;
  background-size: 258px;
}
.main-header .btn {
  border: 3px solid #fff;
  border-radius: 25px;
  display: block;
  width: 275px;
  height: 49px;
  background-color: transparent;
  line-height: 18px;
  margin: 0 auto;
  margin-top: 28px;
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
}
.main-header .btn:hover {
  background-color: #fff;
  color: #d22856;
}
.main-header .btn:active {
  padding: 0;
  background-color: #fff;
  color: rgba(210, 40, 86, 0.3);
}
.main-header__technologies {
  width: 205px;
  margin: 0 auto;
  margin-top: 31px;
  text-align: center;
}
.main-header__technology-apple {
  display: inline-block;
  width: 46px;
}
.main-header__technology-android {
  display: inline-block;
  width: 42px;
  margin-left: 31px;
}
.main-header__technology-microsoft {
  display: inline-block;
  width: 44px;
  margin-left: 32px;
}
.main-header__description {
  font-size: 14px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  line-height: 24px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-header__hand {
    background: transparent url(/img/retina/iphone-hand-1@2x.png) 50% 100% no-repeat;
    background-size: 258px;
  }
}
@media (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .main-header__hand {
    background: transparent url(/img/retina/iphone-hand-1@3x.png) 50% 100% no-repeat;
    background-size: 258px;
  }
}
@media all and (min-width: 700px) {
  .main-header {
    background-color: #1d2631;
    background-image: url(/img/retina/iphone-hand-2@1x.png), url(/img/retina/background-1@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 50%;
    background-size: 700px, cover;
  }
  .main-header .header {
    width: 700px;
    height: 110px;
  }
  .main-header .header.paint {
    height: 109px;
  }
  .main-header .header__logo {
    width: 145px;
    height: 40px;
    padding: 26px 40px;
  }
  .main-header .header__logo img {
    width: 145px;
  }
  .main-header .header__logo:hover {
    background: transparent url(/img/pink_700-hover.png) 50% 50% no-repeat;
  }
  .main-header .header__logo:hover img {
    display: none;
  }
  .main-header .header__logo:active {
    background: transparent url(/img/pink_700-active.png) 50% 50% no-repeat;
  }
  .main-header .header__logo:active img {
    display: none;
  }
  .main-header__content {
    width: 300px;
    padding-top: 60px;
    margin-left: 40px;
  }
  .main-header__hand {
    display: none;
  }
  .main-header__title {
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .main-header__technologies {
    padding-top: 12px;
    padding-bottom: 34px;
  }
  .main-header__description {
    font-size: 18px;
    margin: 0 -2px;
  }
}
@media (min-width: 700px) and (min-resolution: 192dpi), (min-width: 700px) and (min-resolution: 2dppx) {
  .main-header {
    background-color: #1d2631;
    background-image: url(/img/retina/iphone-hand-2@2x.png), url(/img/retina/background-1@2x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 50%;
    background-size: 700px, cover;
  }
}
@media (min-width: 700px) and (min-resolution: 288dpi), (min-width: 700px) and (min-resolution: 3dppx) {
  .main-header {
    background-color: #1d2631;
    background-image: url(/img/retina/iphone-hand-2@2x.png), url(/img/retina/background-1@3x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 50%;
    background-size: 700px, cover;
  }
}
@media all and (min-width: 1200px) {
  .main-header {
    height: 854px;
    background-color: #1d2631;
    background-image: url(/img/retina/iphone-hand-3@1x.png), url(/img/retina/background-2@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 96% 100%, 50% 50%;
    background-size: 1050px, cover;
  }
  .main-header .header {
    width: 1200px;
  }
  .main-header .header__logo {
    padding: 26px 0px;
    margin-left: 129px;
  }
  .main-header__content {
    width: 300px;
    padding-top: 70px;
    margin-left: 130px;
  }
  .main-header__title {
    line-height: 60px;
    font-size: 50px;
    margin: 0px;
  }
  .main-header .btn {
    line-height: 21px;
    width: 294px;
    margin: 48px 0px;
  }
  .main-header__technologies {
    padding-top: 12px;
    padding-bottom: 34px;
  }
  .main-header__description {
    font-size: 18px;
    margin: 0 -2px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 3dppx) {
  .main-header {
    background-image: url(/img/retina/iphone-hand-3@2x.png), url(/img/retina/background-2@2x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 96% 100%, 50% 50%;
    background-size: 1050px, cover;
  }
}
@media all and (min-width: 1440px) {
  .main-header {
    background-image: url(/img/retina/iphone-hand-3@1x.png), url(/img/retina/background-fullsize.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 96% 100%, 50% 50%;
    background-size: 1050px, cover;
  }
  .main-header .header {
    width: 1440px;
  }
  .main-header .header__logo {
    margin-left: 249px;
  }
  .main-header__content {
    margin-left: 250px;
  }
}
@media (min-width: 1440px) and (min-resolution: 192dpi), (min-width: 1440px) and (min-resolution: 3dppx) {
  .main-header {
    background-image: url(/img/retina/iphone-hand-3@2x.png), url(/img/retina/background-fullsize.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 96% 100%, 50% 50%;
    background-size: 1050px, cover;
  }
}
.main-navigation {
  display: block;
  float: right;
  width: 160px;
  height: 66px;
}
.main-navigation__hamburger {
  width: 50px;
  height: 24px;
  padding: 22px 20px;
  float: right;
  display: block;
  cursor: pointer;
}
.main-navigation__hamburger:hover svg {
  color: #d22856;
}
.main-navigation__hamburger:active svg {
  color: rgba(210, 40, 86, 0.3);
}
.main-navigation__toggle-close {
  width: 23px;
  height: 22px;
  padding: 22px 20px;
  float: right;
  display: none;
}
.main-navigation__toggle-close:hover svg {
  color: #d22856;
}
.main-navigation__toggle-close:active svg {
  color: rgba(210, 40, 86, 0.3);
}
.main-navigation__list {
  display: none;
  width: 160px;
  height: 66px;
}
.main-navigation__list li {
  display: block;
  width: 200%;
  height: 64px;
  float: right;
  position: relative;
  z-index: 1;
  background-color: #283645;
}
.main-navigation__link {
  display: block;
  width: 100%;
  height: 62px;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
  cursor: pointer;
  line-height: 62px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
}
.main-navigation__link:hover {
  color: #d22856;
}
.main-navigation__link:active {
  color: rgba(210, 40, 86, 0.3);
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media all and (min-width: 700px) {
  .main-navigation {
    width: 350px;
    height: 110px;
  }
  .main-navigation__hamburger {
    padding: 44px 40px;
  }
  .main-navigation__toggle-close {
    padding: 44px 40px;
  }
  .main-navigation__list {
    width: 350px;
    height: 110px;
  }
}
@media all and (min-width: 1200px) {
  .main-navigation {
    width: 720px;
    height: 110px;
    margin-right: 44px;
  }
  .main-navigation__hamburger {
    display: none;
  }
  .main-navigation__toggle-close {
    display: none;
  }
  .main-navigation__list {
    display: block;
    width: 100%;
    height: 110px;
  }
  .main-navigation__list li {
    display: inline;
    float: left;
    width: auto;
    background-color: transparent;
  }
  .main-navigation__link {
    width: auto;
    height: 44px;
    padding: 33px 35px;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    font-size: 18px;
    text-transform: none;
    line-height: 44px;
    background-color: transparent;
    position: relative;
  }
  .main-navigation__link:hover {
    color: #fff;
  }
  .main-navigation__link:hover::after {
    content: "";
    position: absolute;
    bottom: 33px;
    left: 35px;
    right: 35px;
    width: auto;
    height: 2px;
    background-color: #fff;
  }
  .main-navigation__link:active {
    color: #fff;
    opacity: .3;
  }
}
@media all and (min-width: 1440px) {
  .main-navigation {
    margin-right: 164px;
  }
}
.main-content {
  display: block;
  width: 320px;
  height: 1002px;
  background-color: #fff;
  background-image: url(/img/retina/screen-1-3.png), url(/img/content-bg.png);
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat, no-repeat;
  color: #283645;
}
.main-content__phone1 {
  display: none;
}
.main-content__phone2 {
  display: none;
}
.main-content__phone3 {
  display: none;
}
.info {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.info__description {
  text-align: center;
  height: 420px;
}
.info__description-title1 {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  line-height: 28px;
}
.info__description-title2 {
  margin-top: 0;
  padding-bottom: 100px;
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  line-height: 28px;
}
.info__description-subtitle {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  line-height: 18px;
  color: #000;
}
.info__description-info {
  font-size: 14px;
  font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
  line-height: 24px;
  padding-bottom: 20px;
}
.info__phones {
  display: none;
}
.effect {
  display: none;
}
@media all and (min-width: 700px) {
  .main-content {
    width: 700px;
    height: 1085px;
    background-color: #fff;
    background-image: none;
  }
  .info {
    width: 700px;
    height: 693px;
    background-color: #fff;
    background-image: url(/img/retina/iphone-screen-2-3@1x.png), url(/img/content-bg700.png);
    background-position: 9% 100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 268px, 700px;
  }
  .info__description-title1 {
    margin-top: 32px;
    font-size: 40px;
    line-height: 40px;
  }
  .info__description-title2 {
    font-size: 40px;
    line-height: 40px;
  }
  .info__description-title2 span {
    display: none;
  }
  .info__description {
    float: right;
    width: 310px;
    margin-right: 40px;
    text-align: left;
  }
  .info::after {
    display: table;
    content: "";
    clear: both;
  }
  .effect {
    display: block;
    width: 700px;
    height: 360px;
  }
  .effect__timer {
    display: block;
    float: left;
    width: 262px;
    height: 302px;
    padding-top: 58px;
    margin-left: 40px;
    background: transparent url(/img/timer-700.svg) 50% 100% no-repeat;
  }
  .effect__timer-display {
    width: 194px;
    height: 194px;
    margin: 0 auto;
    margin-top: 65px;
    border: 10px solid #d22856;
    border-radius: 50%;
    text-align: center;
  }
  .effect__timer-count {
    font-size: 18px;
    font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
    color: #d22856;
    vertical-align: middle;
    font-size: 100px;
    line-height: 194px;
  }
  .effect__description {
    float: right;
    width: 310px;
    padding-top: 93px;
    margin-right: 40px;
    text-align: left;
  }
  .effect__title {
    margin: 0;
    font-size: 18px;
    font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #000;
  }
  .effect__text {
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    line-height: 24px;
  }
  .effect__link {
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    line-height: 24px;
    color: #d22856;
    text-decoration: underline;
  }
  .effect::after {
    display: table;
    content: "";
    clear: both;
  }
}
@media (min-width: 700px) and (min-resolution: 192dpi), (min-width: 700px) and (min-resolution: 2dppx) {
  .info {
    background-image: url(/img/retina/iphone-screen-2-3@2x.png), url(/img/content-bg700.png);
    background-position: 9% 100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 268px, 700px;
  }
}
@media all and (min-width: 1200px) {
  .main-content {
    width: 1200px;
    height: 1361px;
  }
  .main-content .info {
    width: 1200px;
    height: 890px;
    background-image: url(/img/content-bg1200.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 1200px;
  }
  .main-content .info__description {
    width: 880px;
    margin: 0 auto;
    float: none;
    -webkit-column-width: 200px;
       -moz-column-width: 200px;
            column-width: 200px;
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    text-align: center;
  }
  .main-content .info__description-title1 {
    margin-top: 43px;
    font-size: 50px;
    line-height: 60px;
  }
  .main-content .info__description-title2 {
    padding-bottom: 34px;
    font-size: 50px;
    line-height: 60px;
  }
  .main-content .info__description-subtitle {
    margin: 0;
    padding-top: 52px;
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 30px;
    color: #000;
  }
  .main-content .info__description-info {
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 20px;
  }
  .main-content .info__phones {
    display: block;
  }
  .main-content .info__phones .main-content__phone1 {
    display: inline;
  }
  .main-content .info__phones .main-content__phone2 {
    display: inline;
    margin: 0 25px;
  }
  .main-content .info__phones .main-content__phone3 {
    display: inline;
  }
  .main-content .effect {
    width: 1200px;
    height: 471px;
    background-color: #f2f2f2;
  }
  .main-content .effect__timer {
    padding-top: 46px;
    margin-left: 130px;
    width: 300px;
    height: 346px;
    background: transparent url(/img/timer-1200.svg) 50% 100% no-repeat;
    background-size: 300px;
  }
  .main-content .effect__timer-display {
    width: 221px;
    height: 221px;
    border-width: 12px;
    margin-top: 75px;
  }
  .main-content .effect__timer-count {
    font-size: 115px;
    line-height: 221px;
  }
  .main-content .effect__description {
    width: 540px;
    padding-top: 138px;
    margin-right: 163px;
  }
  .main-content .effect__title {
    font-size: 30px;
    line-height: 30px;
  }
  .main-content .effect__title-2 {
    display: none;
  }
  .main-content .effect__text {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  .main-content .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
@media all and (min-width: 1440px) {
  .main-content {
    width: 1440px;
  }
  .main-content .info {
    width: 1440px;
    background-image: url(/img/content-bg1440.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 1440px;
  }
  .main-content .effect {
    width: 1440px;
  }
  .main-content .effect__timer {
    margin-left: 250px;
  }
  .main-content .effect__description {
    margin-right: 283px;
  }
}
.review {
  width: 320px;
  height: 823px;
  background: #ffffff url(/img/grey-table.png) 50% 100% no-repeat;
  color: #283645;
}
.review__previous {
  display: none;
}
.review__next {
  display: none;
}
.review__wrap {
  width: 320px;
  height: 290px;
  overflow: hidden;
}
.container-review {
  width: 960px;
}
.container-review__comment {
  width: 320px;
  float: left;
}
.container-review__comment-wrap {
  width: 284.8px;
  margin: 0 auto;
  text-align: center;
}
.container-review__comment-author {
  padding-top: 26px;
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  line-height: 30px;
  color: #000;
}
.container-review__comment-content {
  font-size: 14px;
  font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
  line-height: 30px;
}
.review-paginator {
  margin: 0 auto;
  width: 100px;
  padding-top: 13px;
  text-align: center;
}
.review-paginator__page {
  display: none;
}
.review-paginator__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  vertical-align: middle;
}
.review-paginator__toggle:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.review-paginator__toggle:active {
  background-color: rgba(40, 54, 69, 0.1);
}
.review-paginator__page:checked + .review-paginator__toggle {
  background-color: transparent;
  border-color: #283645;
}
@media all and (min-width: 700px) {
  .review {
    width: 700px;
    height: 673px;
    background: #ffffff url(/img/grey-table700.png) 50% 100% no-repeat;
  }
  .review__wrap {
    width: 700px;
    height: 220px;
  }
  .container-review {
    width: 2100px;
  }
  .container-review__comment {
    width: 700px;
  }
  .container-review__comment-wrap {
    width: 623px;
    height: 220px;
  }
  .container-review__comment-author {
    display: none;
  }
  .container-review__comment-author2 {
    font-size: 18px;
    font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    padding-top: 13px;
    margin: 0;
  }
  .container-review__comment-info {
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    line-height: 30px;
    margin: 0;
  }
  .container-review__comment-content {
    font-size: 18px;
  }
  .review-paginator {
    padding-top: 8px;
  }
  .review-paginator__toggle {
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media all and (min-width: 1200px) {
  .review {
    width: 1200px;
    height: 771px;
    padding-top: 167px;
    position: relative;
    background-color: #fff;
    background-image: url(/img/quotes-grey.svg), url(/img/grey-table1200.png);
    background-position: 50% 72px, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 1200px;
  }
  .review__previous {
    display: block;
    position: absolute;
    left: 140px;
    top: 222px;
    width: 27px;
    height: 27px;
    border-top: 2px solid #bec2c7;
    border-left: 2px solid #bec2c7;
    background-color: transparent;
    -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  .review__next {
    display: block;
    position: absolute;
    right: 140px;
    top: 222px;
    width: 27px;
    height: 27px;
    border-top: 2px solid #bec2c7;
    border-right: 2px solid #bec2c7;
    background-color: transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .review__wrap {
    width: 1200px;
    height: 200px;
  }
  .container-review {
    width: 3600px;
  }
  .container-review__comment {
    width: 1200px;
  }
  .container-review__comment-wrap {
    width: 690px;
    height: 200px;
  }
  .container-review__comment-author {
    display: none;
  }
  .container-review__comment-author2 {
    font-size: 18px;
    font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding-top: 13px;
    margin: 0;
  }
  .container-review__comment-info {
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }
  .container-review__comment-content {
    font-size: 18px;
  }
  .review-paginator {
    display: none;
  }
}
@media all and (min-width: 1440px) {
  .review {
    width: 1440px;
    background-image: url(/img/quotes-grey.svg), url(/img/grey-table1440.png);
    background-position: 50% 72px, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 1440px;
  }
  .review__previous {
    left: 260px;
  }
  .review__next {
    right: 260px;
  }
  .review__wrap {
    margin: 0 auto;
  }
}
.prices {
  margin-top: 133px;
  margin-bottom: 0;
  width: 320px;
  height: 380px;
  overflow: hidden;
}
.prices-table {
  width: 836px;
  border-collapse: collapse;
}
.prices-table__components .cell3 {
  position: relative;
}
.prices-table__components .cell3::before {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
  content: "ХИТ";
  font-size: 14px;
  font-family: "OpenSans Semibold", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  width: 74px;
  height: 74px;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}
.prices-table__components .cell3::after {
  position: absolute;
  top: 0px;
  left: -2px;
  z-index: 1;
  content: "";
  width: 74px;
  height: 74px;
  background: -webkit-linear-gradient(315deg, transparent 16%, #d22856 16%, #d22856 50%, transparent 50%);
  background: linear-gradient(135deg, transparent 16%, #d22856 16%, #d22856 50%, transparent 50%);
}
.prices th {
  width: 276px;
  height: 98px;
  background-color: #283645;
  color: #fff;
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}
.prices th span {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  line-height: 30px;
}
.prices td {
  width: 236px;
  height: 59px;
  padding-left: 22px;
  padding-right: 18px;
  background-color: #fff;
  border-left: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  font-size: 14px;
  font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  line-height: 30px;
}
.prices img {
  float: right;
}
.prices .cell1 {
  display: none;
}
.prices-paginator {
  margin: 0 auto;
  width: 100px;
  padding-top: 33px;
  text-align: center;
}
.prices-paginator__page {
  display: none;
}
.prices-paginator__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  vertical-align: middle;
}
.prices-paginator__toggle:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.prices-paginator__toggle:active {
  background-color: rgba(40, 54, 69, 0.1);
}
.prices-paginator__page:checked + .prices-paginator__toggle {
  background-color: transparent;
  border-color: #283645;
}
@media all and (min-width: 700px) {
  .prices {
    width: 700px;
    margin-top: 106px;
  }
  .prices-table {
    width: 620px;
    height: 220px;
    margin-left: 40px;
  }
  .prices th {
    width: 152px;
    font-size: 18px;
  }
  .prices th span {
    font-size: 16px;
  }
  .prices td {
    width: 152px;
    text-align: center;
  }
  .prices td span {
    display: none;
  }
  .prices img {
    float: none;
    display: inline-block;
  }
  .prices .cell1 {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    line-height: 30px;
    text-transform: none;
  }
  .prices th.cell1 {
    background-color: transparent;
  }
  .prices-paginator {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .prices {
    width: 1200px;
    margin-top: 188px;
  }
  .prices-table {
    width: 938px;
    height: 281px;
    margin-left: 128px;
  }
  .prices th {
    width: 232px;
    font-size: 24px;
  }
  .prices th span {
    font-size: 18px;
  }
  .prices td {
    width: 232px;
  }
  .prices .cell1 {
    padding-left: 24px;
    font-size: 18px;
  }
}
@media all and (min-width: 1440px) {
  .prices {
    width: 1440px;
  }
  .prices-table {
    margin-left: 248px;
  }
}
.contacts {
  width: 320px;
  height: 613px;
  background-color: #fff;
  color: #283645;
}
.contacts__content {
  text-align: center;
  width: 320px;
  height: 413px;
}
.contacts__title {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 39px;
}
.contacts__title-phone {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}
.contacts__contact-phone {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  color: #d22856;
}
.contacts__contact-phone:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__contact-phone:active {
  color: rgba(40, 54, 69, 0.3);
}
.contacts__title-email {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}
.contacts__contact-email {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  color: #d22856;
}
.contacts__contact-email:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__contact-email:active {
  color: rgba(40, 54, 69, 0.3);
}
.contacts__title-adress {
  font-size: 18px;
  font-family: "OpenSans Bold", "Lucida Sans Unicode", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}
.contacts__contact-adress {
  font-size: 24px;
  font-family: "OpenSans Light", "Lucida Sans Unicode", sans-serif;
  color: #d22856;
}
.contacts__contact-adress:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__contact-adress:active {
  color: rgba(40, 54, 69, 0.3);
}
.contacts__map {
  width: 320px;
  height: 200px;
  background: #a4c7fc url(/img/map320.jpg) 50% 50% no-repeat;
  overflow: hidden;
  position: relative;
}
.contacts__map::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  content: "";
  border-top: 33px solid #fff;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom-width: 0;
}
@media all and (min-width: 700px) {
  .contacts {
    width: 700px;
    height: 779px;
  }
  .contacts__content {
    width: 700px;
    height: 401px;
  }
  .contacts__title {
    font-size: 40px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .contacts__phone {
    display: inline-block;
    width: 345px;
    padding-top: 10px;
  }
  .contacts__email {
    display: inline-block;
    width: 345px;
    padding-top: 10px;
  }
  .contacts__adress {
    padding-top: 28px;
  }
  .contacts__map {
    width: 700px;
    height: 378px;
    background: #a4c7fc url(/img/map700.jpg) 50% 50% no-repeat;
  }
  .contacts__map::before {
    border-top-width: 72px;
    border-left-width: 350px;
    border-right-width: 350px;
  }
}
@media all and (min-width: 1200px) {
  .contacts {
    width: 1200px;
    height: 868px;
  }
  .contacts__content {
    width: 1200px;
    height: 346px;
  }
  .contacts__title {
    padding-top: 58px;
    font-size: 50px;
    margin-left: 350px;
    margin-right: 350px;
  }
  .contacts__phone {
    display: inline-block;
    width: 595px;
    padding-top: 25px;
  }
  .contacts__email {
    display: inline-block;
    width: 595px;
    padding-top: 25px;
  }
  .contacts__adress {
    margin-top: -100px;
  }
  .contacts__map {
    width: 1200px;
    height: 522px;
    background: #a4c7fc url(/img/map1200.jpg) 50% 50% no-repeat;
  }
  .contacts__map::before {
    border-top-width: 124px;
    border-left-width: 600px;
    border-right-width: 600px;
  }
}
@media all and (min-width: 1440px) {
  .contacts {
    width: 1440px;
  }
  .contacts__content {
    width: 1440px;
  }
  .contacts__title {
    margin-left: 470px;
    margin-right: 470px;
  }
  .contacts__phone {
    margin-left: 120px;
  }
  .contacts__email {
    margin-right: 120px;
  }
  .contacts__map {
    width: 1440px;
    background: #a4c7fc url(/img/map1440.jpg) 50% 50% no-repeat;
  }
  .contacts__map::before {
    border-left-width: 720px;
    border-right-width: 720px;
  }
}
.main-footer {
  display: none;
}
@media all and (min-width: 700px) {
  .main-footer {
    display: block;
    width: 620px;
    height: 92px;
    padding: 0px 40px;
    padding-top: 36px;
    background-color: #fff;
    color: #283645;
    text-align: center;
  }
  .main-footer__logo {
    display: inline-block;
    width: 145px;
    height: 40px;
  }
  .main-footer__logo:hover {
    background: transparent url(/img/ftr-logo-hover.png) 50% 50% no-repeat;
  }
  .main-footer__logo:hover img {
    display: none;
  }
  .main-footer__logo:active {
    background: transparent url(/img/ftr-logo-active.png) 50% 50% no-repeat;
  }
  .main-footer__logo:active img {
    display: none;
  }
  .main-footer__social {
    display: inline-block;
    width: 260px;
    height: 53px;
  }
  .main-footer__copyright {
    display: inline-block;
    font-size: 14px;
    font-family: "OpenSans Regular", "Lucida Sans Unicode", sans-serif;
    line-height: 18px;
  }
  .main-footer__copyright span {
    vertical-align: middle;
    margin-left: 12px;
  }
  .main-footer__copyright a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
  }
  .main-footer__copyright-author {
    width: 27px;
    height: 30px;
  }
  .main-footer__copyright-author svg {
    color: #d22856;
  }
  .main-footer__copyright-author:hover svg {
    color: #283645;
  }
  .main-footer__copyright-author:active svg {
    color: rgba(40, 54, 69, 0.3);
  }
  .main-footer__copyright-rightholder {
    width: 27px;
    height: 33px;
  }
  .main-footer__copyright-rightholder svg {
    color: #d22856;
  }
  .main-footer__copyright-rightholder:hover svg {
    color: #283645;
  }
  .main-footer__copyright-rightholder:active svg {
    color: rgba(40, 54, 69, 0.3);
  }
  .social-links {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 0px;
  }
  .social-links li {
    display: inline-block;
    margin-right: 12px;
  }
  .social-links__item-twitter {
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    text-align: center;
  }
  .social-links__item-twitter:hover {
    border-color: #283645;
  }
  .social-links__item-twitter:active {
    border-color: #e9ebec;
  }
  .social-links__item-twitter:active i {
    color: rgba(210, 40, 86, 0.3);
  }
  .social-links__item-facebook {
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    text-align: center;
  }
  .social-links__item-facebook:hover {
    border-color: #283645;
  }
  .social-links__item-facebook:active {
    border-color: #e9ebec;
  }
  .social-links__item-facebook:active i {
    color: rgba(210, 40, 86, 0.3);
  }
  .social-links__item-play {
    display: block;
    width: 40px;
    height: 45px;
    padding-left: 5px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    text-align: center;
  }
  .social-links__item-play:hover {
    border-color: #283645;
  }
  .social-links__item-play:active {
    border-color: #e9ebec;
  }
  .social-links__item-play:active i {
    color: rgba(210, 40, 86, 0.3);
  }
  .social-links i {
    color: #d22856;
    line-height: 45px;
    font-size: 20px;
  }
}
@media all and (min-width: 1200px) {
  .main-footer {
    width: 940px;
    height: 127px;
    padding: 0px 130px;
    padding-top: 70px;
    text-align: left;
  }
  .main-footer__logo {
    vertical-align: top;
    margin-right: 164px;
  }
  .main-footer__social {
    vertical-align: top;
    padding-top: 3px;
    margin-right: 132px;
  }
  .main-footer__copyright {
    vertical-align: top;
    padding-top: 12px;
  }
  .main-footer__copyright span {
    font-size: 18px;
  }
}
@media all and (min-width: 1440px) {
  .main-footer {
    width: 940px;
    padding: 0px 250px;
    padding-top: 70px;
  }
}
