AddDefaultCharset UTF-8
Options All -Indexes
# кеширование в браузере на стороне пользователя
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access 1 day"
	ExpiresByType application/javascript "access plus 7 days"
	ExpiresByType text/javascript "access plus 7 days"
	ExpiresByType text/css "access plus 7 days"
	ExpiresByType image/svg+xml "access plus 7 days"
	ExpiresByType image/jpg "access plus 7 days"
	ExpiresByType image/png "access plus 7 days"
	ExpiresByType application/font-woff "access plus 7 days"
</IfModule>
# Cache-Control
<ifModule mod_headers.c>
	# 7 дней
	<filesMatch "\.(css|js|jpg|png|svg|woff)$">
	Header set Cache-Control "max-age=604800, public"
	</filesMatch>
	# 1 день
	<filesMatch "\.(html)$">
	Header set Cache-Control "max-age=86400, private, must-revalidate"
	</filesMatch>
</ifModule>